<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869065040084-gh9sj146gmok16rmck74koklbpfn5ppa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869065040084-gh9sj146gmok16rmck74koklbpfn5ppa</string>
	<key>API_KEY</key>
	<string>AIzaSyBL2FbrshEGdf7R6730LQhKypfspFzuA7A</string>
	<key>GCM_SENDER_ID</key>
	<string>869065040084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeFlare</string>
	<key>PROJECT_ID</key>
	<string>safe-flare</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-flare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869065040084:ios:b186cf0a13160ff1b11b41</string>
</dict>
</plist>